<nav aria-label="breadcrumb">
  <p class="sr-only">Ti trovi in:</p>
  <ol class="flex space-x-2 text-sm text-white" role="list">
    <!-- Home Link -->
    <li>
      <a class="text-white hover:text-gray-300" routerLink="/">
        <span aria-hidden="true" class="fas fa-home"></span>
        Home
      </a>
    </li>

    <!-- Dynamic Breadcrumbs -->
    @for (item of items(); track $index) {
      <li class="before:text-white flex items-center">
        <span class="mx-2 text-gray-500">/</span>
        <a
          class="text-white hover:text-gray-300"
          [routerLink]="item.route"
          [state]="item.routeState ?? undefined"
          [attr.aria-current]="$last ? 'page' : undefined"
          (click)="navigateTo(item)"
        >
          {{ item.label }}
        </a>
      </li>
    }
  </ol>
</nav>
