<div class="flex items-center justify-center min-h-screen">
  <form [formGroup]="form" (ngSubmit)="register()"
        class="my-10 space-y-6 p-6 bg-card rounded-lg shadow-lg w-full max-w-md">
    <div class="text-center">
      <h2 class="text-foreground mb-1 text-3xl font-semibold">Sign Up <span class="text-primary">!</span></h2>
      <p class="text-muted-foreground text-sm">Let's get started with your 30 day free trial</p>
    </div>

    <div class="flex justify-center" routerLink="/dashboard">
      <button app-button full impact="bold" tone="light" shape="rounded" size="medium">
        <svg-icon src="assets/icons/google-logo.svg" [svgClass]="'h-6 w-6 mr-2'"></svg-icon>
        Sign Up with Google
      </button>
    </div>

    <div
      class="before:border-muted after:border-muted my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t after:mt-0.5 after:flex-1 after:border-t">
      <p class="text-muted-foreground mx-4 mb-0 text-center text-sm">or</p>
    </div>

    <div class="space-y-3 text-left">
      <div class="relative">
        <input type="text" id="email" class="peer block" placeholder=" " formControlName="email"/>
        <label for="email"
               class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2">
          Email address
        </label>
        @if (hasError('email', 'required')) {
          <p class="text-red-500 text-xs">Email is required</p>
        }
        @if (hasError('email', 'email')) {
          <p class="text-red-500 text-xs">Invalid email format</p>
        }
      </div>

      <div class="relative">
        <input type="password" id="password" class="peer block" placeholder=" " formControlName="password"/>
        <label for="password"
               class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2">
          Password
        </label>
        <span class="text-muted-foreground absolute top-2.5 right-5 cursor-pointer">
          <svg-icon src="assets/icons/heroicons/outline/eye-off.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
          <svg-icon src="assets/icons/heroicons/outline/eye.svg" [svgClass]="'h-5 w-5 hidden'"> </svg-icon>
        </span>
        @if (hasError('password', 'required')) {
          <p class="text-red-500 text-xs">Password is required</p>
        }
        @if (hasError('password', 'minlength')) {
          <p class="text-red-500 text-xs">Password must be at least 8 characters</p>
        }
      </div>

      <div class="relative">
        <input type="password" id="confirm-password" class="peer block" placeholder=" "
               formControlName="confirmPassword"/>
        <label for="confirm-password"
               class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2">
          Confirm Password
        </label>
        @if (!passwordsMatch() && form.controls.confirmPassword.touched) {
          <p class="text-red-500 text-xs">Passwords do not match</p>
        }
      </div>
    </div>

    <div class="flex items-center justify-between space-x-3">
      <div class="flex items-center gap-1">
        <input id="accept-term" name="accept-term" type="checkbox"/>
        <label for="accept-term" class="text-muted-foreground ml-2 block text-sm"> I Accept the </label>
        <button app-button impact="none" tone="primary" shape="rounded" size="small"> Terms</button>
      </div>
      <button type="submit" [disabled]="form.invalid" app-button full impact="bold" tone="primary" shape="rounded"
              size="medium">
        Sign up
      </button>
    </div>

    <div class="text-muted-foreground flex items-center justify-center text-sm">
      Already have an Account?
      <button app-button routerLink="/auth/sign-in" impact="none" tone="primary" shape="rounded" size="small">
        Sign in
      </button>
    </div>
  </form>
</div>

@if (authService.isAuthenticated()) {
  <nav class="text-white">
    <button (click)="logout()">Logout</button>
  </nav>


}
<button class="text-white" (click)="router.navigate((['/']))">BACK BUTTON</button>
