<app-breadcrumb class="text-white mb-4" [items]="breadcrumbItems()"/>

<div class="flex items-center justify-center min-h-screen">

  <div class="text-center">
    <!-- Profile Info (When Logged In) -->
    <div class="flex flex-col items-center">
      <img class="h-24 w-24 rounded-full" src="https://avatars.githubusercontent.com/u/12519008?v=4" alt=""/>
      <h2 class="text-foreground mt-4 text-2xl font-semibold">Alessandro Incantalupo {{ username() }}</h2>
      <p class="text-muted-foreground text-sm">me&#64;lanno.dev</p>
    </div>

    <!-- Theme Selector -->
    <div class="mx-4 my-2">
      <span class="text-foreground text-xs font-semibold">Color</span>
      <div class="mt-2 grid grid-cols-2 gap-2">
        @for (item of themeColors; track $index) {
          <div (click)="toggleThemeColor(item.name)"
               [class]="{ 'border-muted-foreground bg-card': item.name == themeService.theme().color, 'border-primary': item.name == themeService.theme().color }"
               class="focus-visible:ring-ring border-border bg-background text-muted-foreground hover:bg-card hover:text-foreground shadow-xs inline-flex h-8 cursor-pointer items-center justify-start whitespace-nowrap rounded-md border px-3 text-xs font-medium transition-colors focus-visible:outline-hidden focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50">
            <span [style.background-color]="item.code"
                  class="mr-1 flex h-5 w-5 shrink-0 -translate-x-1 items-center justify-center rounded-full"></span>
            <p class="capitalize">{{ item.name }}</p>
          </div>
        }
      </div>
    </div>

    <!-- Theme Mode -->
    <div class="mx-4 my-2">
      <span class="text-foreground text-xs font-semibold">Mode</span>
      <div class="mt-2 grid grid-cols-2 gap-2">
        @for (item of themeMode; track $index) {
          <div (click)="toggleThemeMode()"
               [class]="{ 'border-muted-foreground bg-card': item == themeService.theme().mode, 'border-primary': item == themeService.theme().mode }"
               class="focus-visible:ring-ring border-border bg-background text-muted-foreground hover:bg-card hover:text-foreground shadow-xs inline-flex h-8 cursor-pointer items-center justify-start whitespace-nowrap rounded-md border px-3 text-xs font-medium transition-colors focus-visible:outline-hidden focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50">
            <svg-icon
              [src]="item == 'light' ? 'assets/icons/heroicons/outline/sun.svg' : 'assets/icons/heroicons/outline/moon.svg'"
              [svgClass]="'h-5 mr-2 w-5 text-muted-foreground/50'">
            </svg-icon>
            <p class="capitalize">{{ item }}</p>
          </div>
        }
      </div>
    </div>

    <!-- Logout Button -->
    <div class="my-2 mx-4">
      <button (click)="logout()"
              class="w-full text-red-500 font-semibold text-xs px-3 py-2 rounded-md hover:bg-red-50">
        Logout
      </button>
    </div>

    <!-- Homepage Button -->
    <div class="my-2 mx-4">
      <button app-button routerLink="/" impact="bold" tone="primary" shape="rounded" size="medium">
        Homepage
      </button>
    </div>
  </div>
</div>
