<div class="flex items-center justify-center min-h-screen">
  <form class="my-10 space-y-6 p-6 bg-card rounded-lg shadow-lg w-full max-w-md" [formGroup]="form"
        (ngSubmit)="onSubmit()">
    <div class="text-center">
      <h2 class="text-foreground mb-1 text-3xl font-semibold">Hello Again <span class="text-primary">!</span></h2>
      <p class="text-muted-foreground text-sm">Enter your credential to access your account.</p>
    </div>

    @if (loginError()) {
      <div class="text-red-500 text-sm text-center">
        {{ loginError() }}
      </div>
    }

    <div class="flex justify-center" [routerLink]="PATHS.DASHBOARD">
      <button app-button full impact="bold" tone="light" shape="rounded" size="medium">
        <svg-icon src="assets/icons/google-logo.svg" [svgClass]="'h-6 w-6 mr-2'"></svg-icon>
        Log in with Google
      </button>
    </div>

    <div
      class="before:border-muted after:border-muted my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t after:mt-0.5 after:flex-1 after:border-t">
      <p class="text-muted-foreground mx-4 mb-0 text-center text-sm">or</p>
    </div>

    <div class="space-y-3 text-left">
      <div class="relative">
        <input
          type="text"
          id="email"
          [class]="{ 'is__invalid-input': submitted && hasError('email', 'required') || hasError('email', 'email') }"
          class="peer block"
          placeholder=" "
          formControlName="email"/>
        <label
          for="email"
          [class]="{ 'peer-focus:text-destructive!': submitted && hasError('email', 'required') || hasError('email', 'email') }"
          class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2">
          Email address
        </label>
      </div>
      @if (submitted && hasError('email', 'required')) {
        <div class="is__invalid-error">
          <div>Required field</div>
        </div>
      }
      @if (submitted && hasError('email', 'email')) {
        <div class="is__invalid-error">
          <div>Email must be a valid email address</div>
        </div>
      }

      <div class="relative">
        <input
          [type]="passwordTextType ? 'text' : 'password'"
          id="password"
          [class]="{ 'is__invalid-input': submitted && hasError('password', 'required') }"
          class="peer block"
          placeholder=" "
          formControlName="password"/>
        <label
          for="password"
          [class]="{ 'peer-focus:text-destructive!': submitted && hasError('password', 'required') }"
          class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2">
          Password
        </label>
        <span class="text-muted-foreground absolute top-2.5 right-5 cursor-pointer" (click)="togglePasswordTextType()">
          <svg-icon
            [src]="!passwordTextType ? 'assets/icons/heroicons/outline/eye-off.svg' : 'assets/icons/heroicons/outline/eye.svg'"
            [svgClass]="'h-5 w-5'">
          </svg-icon>
        </span>
      </div>
      @if (submitted && hasError('password', 'required')) {
        <div class="is__invalid-error">
          <div>Required field</div>
        </div>
      }
    </div>

    <div class="mb-2 flex items-center justify-between space-x-3">
      <div class="flex items-center">
        <input id="remember-me" name="remember-me" type="checkbox"/>
        <label for="remember-me" class="text-muted-foreground ml-2 block text-sm"> Remember me </label>
      </div>

      <button app-button [routerLink]="PATHS.FORGOT_PASSWORD" impact="none" tone="primary" shape="rounded" size="small">
        Forgot your password?
      </button>
    </div>

    <div class="flex justify-center w-full">
      <button app-button full impact="bold" tone="primary" shape="rounded" size="medium" class="w-full">Sign in</button>
    </div>

    <div class="text-muted-foreground flex items-center text-sm justify-center">
      Not a Member yet?
      <button app-button [routerLink]="PATHS.SIGN_UP" impact="none" tone="primary" shape="rounded" size="small">
        Sign up
      </button>
    </div>
  </form>
</div>
